#footerpad {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #000000;
}

a:focus, a:hover {
  color: #0085A1;
}

.container {
  /*background: url("../../assets/img/intro%20background.jpg");*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*display: flex;*/
  /*flex-wrap: nowrap;*/
}

p {
  background-color: rgba(255,255,255,0.76);
}

.bg-image {
  width: 100%;
  height: 200px;
  background: url("../../assets/img/intro%20background.jpg") center;
  background-size: 250px;
  background-repeat: no-repeat;
}

img. {
}

img.who {
  display: block;
  margin: auto;
}

