.card-body {
}

.dropdown {
  padding-top: 7px;
}

@media (min-width: 300px) {
  #promo {
    border-radius: 20px;
    padding: 40px;
    background-color: rgba(255,255,255,0.76);
    max-width: 800px;
    margin: auto;
  }
}

@media (min-width: 300px) {
  .text-center {
    border-radius: 20px;
    padding: 40px;
    background-color: rgba(255,255,255,0.76);
    max-width: 800px;
    margin: auto;
  }
}

@media (min-width: 300px) {
  .sanjay {
    border-radius: 20px;
    padding: 40px;
    background-color: rgba(255,255,255,0.76);
    max-width: 800px;
    margin: auto;
  }
}

.shu {
  background: rgba(0,0,0,0);
}

